BOT_TOKEN=123456:ABC-your-bot-token
API_ID=1234567
API_HASH=your_api_hash_here
SESSION_STRING=your_pyrogram_session_string_here
OWNER_ID=123456789
MONGO_DB_URI=mongodb+srv://user:pass@cluster.mongodb.net/kukumusic
LOG_GROUP_ID=-1001234567890
SUPPORT_GROUP=https://t.me/+5q36Fn32Y0BmYzk9
SUPPORT_CHANNEL=https://t.me/+CS-ZvjWSB1oxZjZl
SUDO_USERS=123456789,987654321
